# Application Dependencies
fastapi
uvicorn
streamlit
streamlit_option_menu
python-multipart
pandas
numpy
openpyxl
openai==0.28.0
requests

# Development Dependencies
black
isort
ruff
pylint

# Testing Dependencies
pytest
pytest-cov
locust

# Documentation
mkdocs
mkdocs-material